// COLORS
$primary-color : #007acc;
$primary-text : #ffffff;

// VALUES
$defaultBorderRadius: 10px;

/**
1. Elements
2. Login Component
3. Questions
4. Question
**/

// Elements
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.customInputField {
    padding: 10px;
    border: 1px solid #dadada;
    width: 100%;
    border-radius: $defaultBorderRadius;
    text-align: center;
}

.customButton {
    padding: 10px;
    background-color: $primary-color;
    color: $primary-text;
    border: 0;
    width: 100%;
    border-radius: $defaultBorderRadius;
    text-align: center;
    transition: 0.2s ease-out;
    &:hover {
        background-color: darken($color: $primary-color, $amount: 6);
        transition: 0.2s ease-in;
    }
}


// Login Component
.loginContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    .loginDialog {
        margin: auto;
        box-shadow: 0 0 17px -9px;
        border-radius: $defaultBorderRadius;
        overflow: hidden;
        .loginHeader, .loginBody {
            padding: 20px;
        }
        .loginHeader {
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 25px;
            background-color: $primary-color;
            color: $primary-text;
        }
    }
}

// Questions
.questionsContainer {
    .questionsHeader {
        display: flex;
        padding: 13px;
        background: #007acc;
        div {
            font-family: Roboto;
            font-size: 22px;
            color: wheat;
            font-weight: 300;
        }
        button {
            margin-left: auto;
            background-color: white !important;
        }
    }
    .questionsFooter {
        padding: 14px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #e5e5e5;
    }
}

// Question
.questionContainer {
    display: flex;
    margin: 15vh 0;
    .questionIdContainer {
        padding-right: 15px;
    }
    .questionOption {
        padding: 10px;
        cursor: default;
        input {
            margin-right: 10px;
        }
    }
}